.appWrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--space-16);
  width: 100%;
}

.appContent {
  flex: 1;
  padding: var(--space-32) 0;
}
