.wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.title {
  color: var(--gary-800);
  font: var(--font-lg);
  font-weight: 700;
}
