.blue-theme {
  --primary-color: #6155f5;
  --primary-color-10: #6155f51a;
  --primary-color-20: #6155f533;
  --primary-color-30: #6155f54d;
  --primary-color-40: #6155f566;
  --primary-color-50: #6155f580;
  --primary-color-60: #6155f599;
  --primary-color-70: #6155f5b3;
  --primary-color-80: #6155f5cc;
  --primary-color-90: #6155f5e6;
  --primary-color-light: #f8f5ff;
  --primary-color-dark: #4e44d4;
}
