.pink-theme {
  --primary-color: #b6349a;
  --primary-color-10: #b6349a1a;
  --primary-color-20: #b6349a33;
  --primary-color-30: #b6349a4d;
  --primary-color-40: #b6349a66;
  --primary-color-50: #b6349a80;
  --primary-color-60: #b6349a99;
  --primary-color-70: #b6349ab3;
  --primary-color-80: #b6349acc;
  --primary-color-90: #b6349ae6;
  --primary-color-light: #fef5fd;
  --primary-color-dark: #a02b84;
}
